body{
    background: url("../images/bg.png") repeat;
    font-family: Arial, Tahoma;
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

label{
    cursor: pointer;
}

header{
    background: linear-gradient(180deg, #62a6de 0%, #4593c0 60%, #247fb3 61%, #096e98 100%);
    border-bottom: 1px solid #06435e;
    height: 45px;
    padding: 15px 20px 0px;
}

header h1{
    color: #fff;
    float: left;
    margin: 0;
    font-size: 210%;
}

input{
    outline: none;
}

#topMenu{
    padding: 0;
    float: right;
    list-style: none;
    margin: 3px 0px 0px;
}

#topMenu li{
    float: left;
}

#topMenu a{
    display: block;
    background: url("../images/bg_item.png") no-repeat right top;
    color: #fdfeff;
    padding: 9px 9px 7px;
    text-decoration: none;
}

#topMenu a:hover, #topMenu a.active{
    background-color: #086d97;
    border: 1px solid #06445e;
    border-radius: 5px;
    padding: 8px 8px 6px;
}

#top{
    background-color: #d5d5d5;
    border-bottom: 1px solid #6f7a80;
    box-shadow: 0 4px 4px #717c82;
    height: 34px;
    padding: 0 20px;
}

#search{
    float:left;
    margin-top: 2px;
}

#search input[type='text']{
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px 0 0 5px;
    height: 20px;
    width: 263px;
    padding-left: 5px;
    color: #23252b;
}

#search input[type='submit']{
    background: url("../images/icon_search.png") no-repeat;
    border: none;
    height: 22px;
    width: 31px;
    margin-left: -4px;
    cursor: pointer;
}

#auth{
    float: right;
    margin-top: 6px;
}

#auth form{
    float: left;
}

#auth input[type='text'], #auth input[type='password']{
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    height: 18px;
    padding: 0 3px;
    width: 95px;
}

#auth input[type='submit']{
    background: url("../images/icon_auth.png") no-repeat left 40%;
    border: none;
    cursor: pointer;
    color: #8ab71b;
    padding-left: 15px;
    font-size: 100%;
    margin-left: 10px;
}

#auth img{
    float: left;
    margin: 0 10px;
}

#link_register{
    color: #c8404b;
    float: left;
    text-decoration: none;
    margin-top: 1px;
}

#icon_register{
    margin: 3px 5px 0 0 !important;
}

#link_register:hover, #links_reset a:hover{
    text-decoration: underline;
}

#links_reset{
    float:left;
    margin-top: -3px;
}

#links_reset a{
    display: block;
    color: #606060;
    font-size: 75%;
    text-decoration: none;
}

#slider{
    background: url("../images/bg_slider.png") repeat;
    border-bottom: 4px solid #fff;
    margin-top: 5px;
    padding: 20px 0;
}

#course{
    margin: 0 auto;
    min-width: 850px;
    width: 60%;
}

#course h2{
    font-weight: normal;
    margin: 0 0 10px;
}

#course p{
    margin: 0;
}

#course section{
    background-color: rgba(176, 204, 216, 0.5);
    display: table-cell;
    border-radius: 10px;
    padding: 15px;
    color: #444953
}

#course img{
    float: left;
    width: 250px;
    margin-right: 20px;
}

#course .more{
    background-color: #8ab71b;
    color: #fff;
    border-radius: 10px 3px 10px 3px;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: -15px;
    margin-bottom: -15px;
    float: right;
    display: block;
}

#course .more:hover{
    border-radius: 5px 0px 5px 0px;
}

#content{
    margin: 20px 10px;
}

.block{
    box-shadow: 3px 3px 4px #dddcdd;
    width: 220px;
    margin-bottom: 20px;
}

.block .header{
    background: linear-gradient(180deg, #5aa1dc 0%, #3a8cbc 60%, #227eba 61%, #096e98 100%);
    color: #fff;
    border-radius: 5px 05px 0 0;
    font-size: 130%;
    padding: 10px 10px 8px 10px;
}

.block .content{
    background-color: #e8f3f8;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    border-radius: 0 0 5px 5px;
    padding: 10px 0;
}

.block nav div div{
    background: url("../images/menu_sep.png") no-repeat center bottom;
    padding-left: 20px;
}

.block nav > div > a:only-of-type{
    background: url("../images/menu_sep.png") no-repeat center bottom, url("../images/arrow_menu.png") no-repeat 8px center;
}

.block nav a{
    background: url("../images/arrow_menu.png") no-repeat 8px center;
    text-decoration: none;
    color: #444953;
    display: block;
    padding: 10px 0 10px 20px;
}

.block nav div:last-child a{
    background: url("../images/arrow_menu.png") no-repeat 8px center;
}

.block nav div a:hover, .block nav div a.active{
    background: url("../images/arrow_menu_active.png") no-repeat 8px center #d3d3d3;
    border-left: 2px solid #c8504b;
}

.block .content > div{
    padding: 0 10px;
}

.block p{
    margin: 0 0 10px;
    font-size: 95%;
    color: #61676f;
}

.block .button{
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 3px 15px;
    margin: 8px 0 0 20px;
}

.block #subscribe .button, .block #poll .button{
    background-color: #f0b017;
    border-bottom: 2px solid #976c05;
    border-left: 1px solid #976c05;
    border-top: 1px solid #976c05;
    border-right: 1px solid #976c05;
}



.block .free .button{
    background-color: #8ab71b;
    border-bottom: 2px solid #628903;
    border-left: 1px solid #628903;
    border-top: 1px solid #628903;
    border-right: 1px solid #628903;
    font-size: 90%;
}
.block #subscribe .button{
    margin: 15px 0 0 20px;
}

.block .button:hover{
    border-radius: 3px;
}

.block #subscribe_vk img{
    float: left;
}

.block #vk .button{
    background-color: #567ca1;
    border-bottom: 2px solid #2c576e;
    margin: 15px 0 0 15px;
}

.block #subscribe_vk_sep{
    margin: 10px 0 8px;
    float: none !important;
}

.block #poll div{
    margin: 10px 0;
}

.block #poll input[type='radio']{
    display: none;
}

.block #poll label{
    background: url("../images/radio.png") no-repeat left center;
    display: inline-block;
    padding-left: 20px;
}

.block #poll input[type='radio']:checked + label{
    background: url("../images/radio_checked.png") no-repeat left center;
}

.block #poll .button{
    font-size: 100%;
    margin: 0;
}

.block #poll form{
    margin-left: 5px;
}

#left{
    float: left;
}

#right{
    float: right;
}

.block .free img{
    width: 100%;
}

.block .free p{
    font-size: 85%;
    margin: 5px 0;
}

.block .free p.title{
    font-size: 100%;
}

.block .free input[type='text']{
    background-color: #e9e9e9;
    border: 1px solid #a9b4bb;
    border-radius: 5px;
    height: 20px;
    width: 123px;
    padding: 0 5px;
}

.block .free input[type='text']:focus{
    border: 1px solid #ee4e10;
}

.block .free label{
    color: #444953;
    font-size: 90%;
}

.block .free td{
    padding: 5px 2px;
}

.block .free a{
    margin-top: 5px;
}

.block #quote{
    margin-bottom: -5px;
}

.block #quote p{
    font-size: 80%;
    margin-bottom: 3px;
}

#center{
    max-width: 875px;
    border-radius: 5px;
    margin: 0 auto;
}


.main{
    padding: 10px;
    background: linear-gradient(180deg, #fff 0%, #f6f6f6 50%, #f5f5f5 51%, #e6e6e6 100%);
    border: 2px solid #fff;
    overflow: hidden;
}

.main h1, .main h2{
    color: #444953;
    font-weight: normal;
}

section{
    margin-bottom: 20px;
}

.main h1, .main .h1{
    border-left: 2px solid #2aa1d3;
    padding-left: 5px;
}

.main .main_img img{
    margin-left: 320px;
    box-shadow: 4px 4px 4px #717c82;
}

.main .article_img{
    float: left;
    width: 230px;
    margin-right: 15px;
    margin-bottom: 7px;
}

.main .article_img img{
    box-shadow: 4px 5px 3px #545454;
    width: 100%;
    border: 2px solid #fff;
}

.main p{
    color: #444953;
    text-indent: 10px;
    font-size: 105%;
}

.main .red{
    color: #c8504b;
}

.main a{
    color: #006699;
    text-decoration: none;
}

.main a:hover{
    text-decoration: underline;
}

.date_img{
    height: 52px;
    width: 52px !important;
    box-shadow: none !important;
    border: none !important;
}

.date_text{
    color:#fff;
    font-size: 90%;
    margin-top: -43px;
    text-align:center;
    width: 53px;
}

.article_img > div{
    margin-top: -45px;
    margin-left: -10px;
}

.main h2{
    margin: 5px 5px;
}

.main .more{
    background: url("../images/arrow_more.png") no-repeat 97% center #f0b017;
    border: 1px solid #976c05;
    border-radius: 5px;
    color: #fff;
    display: block;
    float: right;
    padding: 2px 20px 3px 10px;
    text-decoration: none;
}

.main .more:hover{
    border-radius: 0;
    text-decoration: none;
}

.article_info{
    background-color: #b1cad5;
    font-size: 90%;
    margin: 10px -10px 0;
    padding: 3px 0;
}

.article_info ul{
    margin: 0;
    padding: 0;
}

.article_info li{
    float: left;
    padding: 0 25px 0 0;
    color: #444953
}

.article_info li:first-child{
    list-style: none;
    margin-left: 10px;
}

.article_info li:last-child{
    margin-right: 20px;
}

#pagination{
text-align: center;
}

#pagination .active{
    font-weight: bold;
    color: #01386a;
}

#pagination span, #pagination a{
    display: inline-block;
    margin: 0 5px;
}

footer{
    background: linear-gradient(180deg, #4796d8, #096e98);
    text-align: center;
    border-bottom: 1px solid #05435e;
    color: #fff;
    padding: 5px 0;
}

footer .sep{
    border-top: 1px dashed #033246;
    height: 8px;
    width: 99%;
    margin: 0 auto;
}

footer p{
    margin: 0;
}

/*
Адаптивная верстка под ширину 1024px
*/

@media  screen and (max-width: 1024px){

    #topMenu a{
        padding: 9px 15px 7px;
    }

    #topMenu a:hover, #topMenu a.active{
        padding: 8px 14px 6px;
    }

    #center{
        display: block;
       width: 525px;
    }

    .main .main_img img{
        margin-left: 130px;
    }

}

/*
Адаптивная верстка под ширину 768px
*/

@media  screen and (max-width: 768px){
    header{
        background: linear-gradient(180deg, #5aa1dc 0%, #3a8cbc 54%, #227eba 55%, #096e98 100%);
        height: 86px;
        text-align: center;
    }

    header h1{
        float: none;
    }

    #topMenu{
        float: none;
    }

    #topMenu a{
        padding: 9px 11px 7px;
    }

    #topMenu a:hover, #topMenu a.active{
        padding: 9px 10px 7px;
    }

    #search{
        margin-top: 3px;
    }

    #search input[type='text']{
         width: 140px;
        height: 19px;
     }

    #search input[type='submit']{
       margin-top: 2px;
        height: 21px;
    }

    #auth form{
        margin-top: 2px;
    }

    #auth input[type='text'], #auth input[type='password']{
        width: 78px;
    }

    #icon_register{
        margin-top: 4px !important;
    }

    #link_register{
        margin-top: 3px !important;
    }

    #slider #course{
        min-width: 0;
        width: 95%;
    }

    #center{
        margin-right: 0;
    }

    .main .main_img img{
        margin-left: 135px;
    }

}

/*
Адаптивная верстка под ширину 600px
*/

@media  screen and (max-width: 600px){

    header{
        background: linear-gradient(180deg, #5aa1dc 0%, #3a8cbc 57%, #227eba 58%, #096e98 100%);
        height: 80px;
        padding: 12px 5px 0;
    }

    #topMenu{
        font-size: 90%;
    }

    #topMenu a{
        padding: 9px 6px 7px;
    }

    #topMenu a:hover, #topMenu a.active{
        padding: 8px 5px 6px;
    }

    #top{
        height: 73px;
        padding-top: 2px;
    }

    #search{
        float: none;
    }

    #search table{
        margin: 0 auto;
    }

    #auth input[type='text'], #auth input[type='password']{
        width: 90px;
    }

    #slider #course{
        text-align: center;
    }

    #slider #course img{
        float: none;
    }

    .main .article_img{
        margin: 0 auto;
        text-align: center;
        float: none;
    }

    .main .main_img img{
        margin-left: 45px;
    }

    .date_text{
        margin-top: -46px;
    }

    .date_img{
        margin-left: -186px;
    }

    .main h2{
        margin-top: 15px;
        text-align: center;
    }

    .article_info li:nth-child(3){
        float: none;
    }

    .article_info li:nth-child(4){
        margin-left: 9px;
    }

}

/*
Адаптивная верстка под ширину 568px */

@media  screen and (max-width: 568px){

    #topMenu{
        font-size: 80%;
    }


    #auth input[type='text'], #auth input[type='password']{
        width: 75px;
    }

    .block{
        width: 180px;
    }

    #subscribe_vk_sep{
        width: 100%;
    }

    #center{
        margin-left: 190px;
    }

    #left nav{
        font-size: 90%;
    }

    .block .free input[type='text']{
        width: 85px;
    }

}

/*
Адаптивная верстка под ширину 480px */

@media  screen and (max-width: 480px){

    header{
        background: linear-gradient(180deg, #5aa1dc 0%, #3a8cbc 62%, #227eba 63%, #096e98 100%);
        height: 72px;
        padding: 12px 5px 0;
    }

    #top{
        height: 105px;
        padding-top: 2px;
    }

    #topMenu{
        font-size: 70%;
    }

    #topMenu a{
        padding: 7px 5px 7px;
    }

    #topMenu a:hover, #topMenu a.active{
        padding: 6px 4px 6px;
    }

    #auth{
        float: none;
        text-align: center;
    }

    form[name='auth']{
        width: 100%;
        margin: 0 auto;
    }

    #icon_register{
        margin-left: 22% !important;
    }

    .main .main_img img{
        margin-left: 0;
    }

    .article_info li:nth-child(2){
        float: none;
    }

    .article_info li:nth-child(3){
        margin: 2px 0 2px 9px;
    }
}

/*
Адаптивная верстка под ширину 384px */

@media  screen and (max-width: 384px){

    #topMenu{
        font-size: 55%;
    }

    #topMenu a{
        padding: 7px 2px 7px;
    }

    #topMenu a:hover, #topMenu a.active{
        padding: 6px 1px 6px;
    }

    #icon_register{
        margin-left: 15% !important;
    }

    #slider{
        font-size: 90%;
    }

    .block{
        font-size: 80%;
        width: 120px;
    }

    .block nav div div{
        padding-left: 10px;
    }

    .block .button{
        padding: 3px 10px;
    }

    .block #subscribe .button, .block #vk .button, .block #poll .button{
        font-size: 90%;
        margin-top: 7px;
    }

    .block #subscribe .button{
        margin-left: 12px;
    }

    .block #vk .button{
        margin-left: 15px;
    }

    .block #subscribe_vk img{
        display: block;
        margin: 0 auto;
        float: none;
    }

    .block #subscribe{
        margin-bottom: 10px;
    }

    .block .free label{
        font-size: 80%;
    }

    .block .free table{
        border-collapse: collapse;
    }

    .block .free td{
        padding: 3px 0;
    }

    .block .free input[type='text']{
        width: 65px;
        height: 15px;
    }

    .block .content > div{
        padding: 0 3px;
    }

    #center{
        margin-left: 130px;
    }

    .main .main_img img{
        width: 174px;
    }

    .main .article_img{
        width: 174px;
    }

    .main h1, .main .h1{
        margin: 5px 0;
    }

    .date_img{
        margin-left: -130px;
    }


    .free input[name='free_course']{
        margin-left: 4px;
    }


    .block .free a{
        margin-top: 5px;
        margin-left: 4px;
    }

    #link_register{
        font-size: 90%;
    }

}


/*
Адаптивная верстка под ширину 320px */

@media  screen and (max-width: 320px){
    header h1{
        font-size: 180%;
    }

    header{
        background: linear-gradient(180deg, #5aa1dc 0%, #3a8cbc 64%, #227eba 65%, #096e98 100%);
        height: 63px;
        padding: 12px 5px 0;
    }

    #topMenu{
        font-size: 48%;
    }

    #topMenu a{
        padding: 7px 3px 7px;
    }

    #topMenu a:hover, #topMenu a.active{
        padding: 6px 2px 6px;
    }

    #top{
        font-size: 90%;
    }

    #icon_register{
        margin-left: 10% !important;
    }

    #course img{
        width: 240px;
    }

    .main .main_img img{
        width: 124px;
    }

    .main .article_img{
        width: 124px;
    }

    .main {
        font-size: 90%;
    }

    .date_img{
        margin-left: -83px;
    }

    .article_info li:nth-child(4){
        float: none;
    }

    .article_info li:nth-child(5){
        margin: 2px 0 2px 9px;
    }

}

/*
Адаптивная верстка под ширину 240px */

@media  screen and (max-width: 275px){

    header h1{
        font-size: 170%;
    }

    header{
        background: linear-gradient(180deg, #5aa1dc 0%, #3a8cbc 64%, #227eba 65%, #096e98 100%);
        height: 60px;
        padding: 5px 0;
    }

    #topMenu{
        font-size: 43%;
    }

    #topMenu a{
        padding: 7px 2px 7px;
    }

    #topMenu a:hover, #topMenu a.active{
        padding: 6px 1px 6px;
    }

    #top{
        font-size: 75%;
        height: 95px;
        padding: 0 5px;
    }

    #links_reset{
        margin-top: 2px;
    }

    #link_register{
        margin-top: 5px !important;
    }

    #auth input[type='submit']{
        margin-left: 0;
    }

    #auth input[type='text'], #auth input[type='password']{
        width: 60px;
    }

    #course img{
        width: 200px;
    }

    .block{
        width: 90px;
        font-size: 57%;
    }

    #icon_register{
        margin-left: 14% !important;
    }

    .block #subscribe .button, .block #poll .button{
       margin-left: 10px;
    }

    .block #vk .button{
        margin-left: 10px;
    }

    .block .free input[type='text']{
        width: 43px;
    }

    .block .button{
        padding: 3px 6px;
    }

    #center{
        margin-left: 95px;
    }

    .main .main_img img{
        width: 120px;
    }

    .main .article_img{
        width: 120px;
    }

    .main {
        font-size: 80%;
    }

    .date_img{
        margin-left: -76px;
    }

    .date_text{
        margin-top: -40px;
    }

    .article_info li:nth-child(4){
        float: none;
    }

    .article_info li:nth-child(5){
        margin: 2px 0 2px 9px;
    }

}