body{
    background: url("../images/bg.png") repeat;
    font-family: Arial, Tahoma;
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    margin: 0 auto;
}

header{
    background: linear-gradient(180deg, #62a6de 0%, #4593c0 60%, #247fb3 61%, #096e98 100%);
    border-bottom: 1px solid #06435e;
    height: 45px;
    padding: 15px 20px 0px;
}

header h1{
    color: #fff;
    float: left;
    margin: 0;
    font-size: 210%;
}

#topMenu{
    padding: 0;
    float: right;
    list-style: none;
    margin: 3px 0px 0px;
}

#topMenu li{
    float: left;
}

#topMenu a{
    display: block;
    background: url("../images/bg_item.png") no-repeat right top;
    color: #fdfeff;
    padding: 9px 14px 7px;
    text-decoration: none;
}

#topMenu a:hover, #topMenu a.active{
    background-color: #086d97;
    border: 1px solid #06445e;
    border-radius: 5px;
    padding: 8px 13px 6px;
}
